@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar a {
    font-size: 12px;
}

.navbar .navbar-brand {
    font-size: 18px;
}

.dimension {
    width: 500px;
    height: 100%;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.container {
    text-align: center;
}

.container .row {
    margin-top: 10px;
}

.container .row .col h3 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff00de;
    display: inline-block;
    letter-spacing: 1px;
}

.container .row .col h5 {
    font-size: 16px;
    margin-bottom: 5px;
    display: relative;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

.container .row .col p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
}

.container .row .col a {
    display: inline-block;
    width: 50%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 20px;
    margin-top: 10px;
}

.container .row .col a {
    background: #ff00de;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    max-width: 500px;
    cursor: pointer;
    margin-top: 30px;
}