@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar a {
    font-size: 12px;
}

.navbar .navbar-brand {
    font-size: 18px;
}

body {
    background: #fff;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 100px;
}

.vidBxSm,
.vidBxLg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.vidBxSm video,
.vidBxLg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vidBxSm {
    display: block;
}

.vidBxLg {
    display: none;
}

@media (min-width: 768px) {
    .vidBxSm {
        display: none;
    }

    .vidBxLg {
        display: block;
    }
}

.btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
}

section .imgBx a {

    position: relative;
    margin-top: 10px;
    display: inherit;
    text-align: center;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 30px;
}

section .imgBx img {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    border: 2px solid black;
}

section .imgBx img.banner-no-border {
    border: none;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.social-media-icons a {
    display: inline-block;
    margin: 0px 10px 25px;
    font-size: 24px;
    color: #333;
}

.social-media-icons a:hover {
    color: #007bff;
}

@media (max-width: 991px) {
    section {
        flex-direction: column-reverse;
    }

    section {
        flex-direction: column-reverse;
        padding: 50px 100px 50px;
        height: auto;
    }

    .vidBxSm video {
        display: inline-block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    .vidBxLg video {
        display: none
    }

    .btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border-radius: 10px;
    }

    section .imgBx img {
        margin-top: 0;
    }

    section .contentBx {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section .contentBx h2 {
        font-size: 40px;
    }

    section .contentBx p {
        font-size: 16px;
    }

    section .contentBx .countdown {
        justify-content: center;
    }

    section .contentBx .countdown .time {
        font-size: 30px;
        min-width: 70px;
        margin-right: 5px;
    }

    section .contentBx .countdown .time span {
        font-size: 14px;
    }

    section .contentBx a {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        background: #fff;
        color: #7ae1d5;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 40px;
        margin-bottom: 10px;
    }

    section .sci {
        left: 40px;
    }

    .newsletter {
        width: 90%;
        padding: 30px;
    }

    .newsletter .inputBox input {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    section {
        flex-direction: column-reverse;
        padding: 10px 10px 10px;
        display: flex;
        align-items: center;
    }

    section .imgBx {
        margin-top: 5px;
    }

    .vidBxSm video {
        display: inline-block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    .vidBxLg video {
        display: none
    }

    .btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border-radius: 10px;
    }

    section .contentBx {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section .contentBx h2 {
        font-size: 40px;
    }

    section .contentBx p {
        font-size: 16px;
    }

    section .contentBx .countdown {
        justify-content: center;
    }

    section .contentBx .countdown .time {
        font-size: 30px;
        min-width: 70px;
        margin-right: 5px;
    }

    section .contentBx .countdown .time span {
        font-size: 14px;
    }

    section .contentBx a {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        background: #7ae1d5;
        color: #000;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 40px;
        margin-bottom: 10px;
    }

    section .sci {
        left: 40px;
    }

    .newsletter {
        width: 90%;
        padding: 30px;
    }

    .newsletter .inputBox input {
        margin-top: 10px;
        width: 100%;
    }
}